.center-block {
    display: inline-block;
}
.center-hero-image{
    width: 80%;
    max-width:40em;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}
.overlap-up-left {
    position: relative;
    top: -3em;
    right: 2em;
}
.overlap-up {
    position: relative;
    top: -4em;
}

.form-wrap{
    display: inline-block;
}

.no-wrap-overflows{
   overflow-x:auto;
   overflow-y:hidden;
}
