.center-block {
    display: inline-block;
}
.float-left {
    float: left;
}
.overlap-up-left {
    position: relative;
    top: -3em;
    right: 2em;
}
.overlap-up {
    position: relative;
    top: -4em;
}
