@mixin add-button-styles($bg-color:white,
$foreground-color:white) {
        cursor:pointer;
    &:hover {
        background-color: $foreground-color;
        border-color: $bg-color;
        color: $bg-color;
    }
    &:active {
        background-color: $bg-color;
        border-color: $foreground-color;
        color: $foreground-color;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}


@mixin blue-button(){
    @include color-bg-theme($foreground-color:$blue);
    @include add-button-styles($foreground-color:$blue);
}
@mixin red-button(){
    @include color-bg-theme($foreground-color:$red);
    @include add-button-styles($foreground-color:$red);
}
@mixin black-button(){
    @include color-bg-theme($foreground-color:black);
    @include add-button-styles($foreground-color:black);
}
