@mixin add-button-styles($bg-color:white,
$foreground-color:white) {
        cursor:pointer;
    &:hover {
        background-color: $foreground-color;
        border-color: $bg-color;
        color: $bg-color;
    }
    &:active {
        background-color: $bg-color;
        border-color: $foreground-color;
        color: $foreground-color;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
.mobile-button{
   font-size: 4em;
   padding: .3em;
   margin: 0 1em 0 1em;
}

.blue-bg-button{
    @include color-bg-theme($bg-color:$blue);
    @include add-button-styles($bg-color:$blue);
}
.red-bg-button{
    @include color-bg-theme($bg-color:$red);
    @include add-button-styles($bg-color:$red);
}
.black-bg-button{
    @include color-bg-theme($bg-color:black);
    @include add-button-styles($bg-color:black);
}

.blue-button{
    @include color-bg-theme($foreground-color:$blue);
    @include add-button-styles($foreground-color:$blue);
}
.red-button{
    @include color-bg-theme($foreground-color:$red);
    @include add-button-styles($foreground-color:$red);
}
.black-button{
    @include color-bg-theme($foreground-color:black);
    @include add-button-styles($foreground-color:black);
}
.mobile-parent{height:70vh;
width:100%;background:#ddd;display:table;
border-spacing:5px;border-collapse:separate;}

.mobile-child{background-color:red;display:table-row;}
