@mixin add-button-styles($bg-color:white,
$foreground-color:white) {
    cursor: pointer;
    &:hover {
        background-color: $foreground-color;
        border-color: $bg-color;
        text-decoration: none;
        color: $bg-color;
    }
    &:active {
        background-color: $bg-color;
        border-color: $foreground-color;
        color: $foreground-color;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
.blue-bg-button {
    @include color-bg-theme($bg-color: $blue);
    @include add-button-styles($bg-color: $blue);
}
.red-bg-button {
    @include color-bg-theme($bg-color: $red);
    @include add-button-styles($bg-color: $red);
}
.black-bg-button {
    @include color-bg-theme($bg-color: black);
    @include add-button-styles($bg-color: black);
}
.blue-button {
    @include color-bg-theme($foreground-color: $blue);
    @include add-button-styles($foreground-color: $blue);
}
.red-button {
    @include color-bg-theme($foreground-color: $red);
    @include add-button-styles($foreground-color: $red);
}
.black-button {
    @include color-bg-theme($foreground-color: black);
    @include add-button-styles($foreground-color: black);
}
.blue-input {
    @extend .blue-button;
    cursor:default;
}
.mobile-parent {
    /*background-color:yellow;*/
    height: 70vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}
.mobile-child {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.red-email-button {
    font-size: 1.5em;
    float: right;
    /*padding: .2em .4em;*/
    @include add-button-styles($foreground-color: $red);
}
.blue-mobile-button {
    text-decoration: none;
    font-size: 4em;
    float: left;
    padding: .2em .4em;
    @include add-button-styles($foreground-color: $blue);
    cursor: pointer;
    &:hover {
        background-color: white;
        border-color: $blue;
        color: $blue;
        text-decoration: none;
        box-shadow: none;
        outline: none;
    }
    &:active {
        background-color: $blue;
        border-color: white;
        color: $blue;
        text-decoration: none;
        box-shadow: none;
        outline: none;
    }
    &:visited {
        background-color: white;
        border-color: $blue;
        color: $blue;
        text-decoration: none;
        box-shadow: none;
        outline: none;
    }
}
.book-button {
    @include letter-menu-text;
    float: left;
    /*margin: 3em 1em;*/
    border-width: .1em;
    margin:1em 0;

}
.menu-button {
    @include letter-menu-text;
    float: left;
    /*margin: 3em 1em;*/
    border-width: .1em;
}
.menu-parent {
    white-space: nowrap;
    overflow: auto;
}
.social-button {
    max-width:6em;
}
