@mixin menu-buttons-container() {
    display: inline-block;
    overflow-x: scroll;
}
.mobile-menu {
    background-color: white;
    button {
        @include menu-text();
        background-color: yellow;
        font-size: 3em;
        font-weight: normal;
        margin: .5em;
    }
}
.desktop-menu {
    .pattern-wrapper {
        @include pattern-bg-3();
        text-align: center;
        background-color: white;
        background-size: 20em;
        border: solid,;
        border-color:$red;
        border-top: 0em;
        border-left: 0em;
        border-right: 0em;
        border-bottom: solid, .5em;
    }
    .buttons-container {
        @include menu-buttons-container();
    }
    button {
        /*@include blue-foreground;*/
        @include menu-text();
        @include left-floater();
        color:$blue;
        margin: .7em;
        margin-left: .5em;
        margin-right: .5em;
        text-transform: uppercase;
    }
}
