@mixin color-bg-theme($bg-color:white,
$foreground-color:white) {
    background-color: $bg-color;
    border-color: $foreground-color;
    border: .1em;
    border-style:solid;
    //TEXT COLOR
    color: $foreground-color;
    text: {
        transform: uppercase;
        decoration: none;
    }
}

.red-bg{
    @include color-bg-theme($bg-color:$red);
}
.blue-bg{
    @include color-bg-theme($bg-color:$blue);
}
.black-bg{
    @include color-bg-theme($bg-color:black);
}
.red-foreground{
    @include color-bg-theme($foreground-color:$red);
}
.blue-foreground{
    @include color-bg-theme($foreground-color:$blue);
}
.black-foreground{
    @include color-bg-theme($foreground-color:black);
}




