@mixin color-bg-theme($bg-color:white,
$foreground-color:white) {
    background-color: $bg-color;
    border-color: $foreground-color;
    border: .1em;
    border-style: solid;
    //TEXT COLOR
    color: $foreground-color;
    text: {
        transform: uppercase;
        decoration: none;
    }
}
@mixin color-box-theme($bg-color:white,
$foreground-color:white) {
    background-color: $bg-color;
    border-color: $foreground-color;
    border: .2em;
    border-style: solid;
    //TEXT COLOR
    color: $foreground-color;
}
.logo-box {
    @extend logo-text;
    margin: 1em 0 1em 0;
}
.main-box-blue {
    @include color-box-theme($foreground-color: $blue);
}
.main-box-red {
    @include color-box-theme($foreground-color: $red);
}
.logo-box {
    font-size: 1.5em;
    display: inline-block;
    text-align: center;
    margin: .5em 0 .5em 0;
    padding: 0 .5em 0 .5em;
}
.h2-box {
    font-size: 1.5em;
    display: inline-block;
    text-align: center;
    margin: .5em 0 .5em 0;
    padding: 0 .5em 0 .5em;
}
.h2-box-blue-bg {
    @extend .h2-box;
    @include color-bg-theme($bg-color: $blue);
}
.h2-box-red-bg {
    @extend .h2-box;
    @include color-bg-theme($bg-color: $red);
}
.h2-box-black-bg {
    @extend .h2-box;
    @include color-bg-theme($bg-color: black);
}
.h2-box-blue {
    @extend .h2-box;
    @include color-bg-theme($foreground-color: $blue);
}
.h2-box-red {
    @extend .h2-box;
    @include color-bg-theme($foreground-color: $red);
}
.h2-box-black {
    @extend .h2-box;
    @include color-bg-theme($foreground-color: black);
}
.red-bg {
    @include color-bg-theme($bg-color: $red);
}
.blue-bg {
    @include color-bg-theme($bg-color: $blue);
}
.black-bg {
    @include color-bg-theme($bg-color: black);
}
.red-foreground {
    @include color-bg-theme($foreground-color: $red);
}
.blue-foreground {
    @include color-bg-theme($foreground-color: $blue);
}
.black-foreground {
    @include color-bg-theme($foreground-color: black);
}
.paper-card {
    color: $blue;
    margin: 1em;
    .border {
        border-color: $blue;
        padding: 1em;
        border-width: 1px;
    }
}
