@font-face {
    font-family: Pitch;
    font-weight: normal;
    src: url("../assets/fonts/Pitch-Regular.otf");
}
@font-face {
    font-family: Pitch;
    font-weight: lighter;
    src: url("../assets/fonts/Pitch-Light.otf");
}
* {
    font-family: Pitch;
    font-weight: lighter;
}
.h1 {
    line-height: 1em;
    //same as logo 
    font-weight: 900;
    letter-spacing: .22em;
}
//replicates the spacing in the logo design
.logo-text {
    font-family: Pitch;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: .23em;
    //ALWAYS has a box around it !!
    padding: .53em .62em .57em .8em;
    border-style: solid;
    border-width: .08em;
}
@mixin menu-text() {
    font-family: Pitch;
    font-weight: 900;
    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: .23em;
    //ALWAYS has a box around it !!
    padding: .4em 2em .4em 2em;
    border-style: solid;
    border-width: .08em;
    text-transform: uppercase;
}
//colors to be added as classes
.blue {
    color: $blue;
    background: white;
}
.red {
    color: $blue;
    background: white;
}
