@font-face {
    font-family: Pitch;
    /*font-weight: normal;*/
    src: url("../assets/fonts/Pitch-Regular.otf");
}
@font-face {
    font-family: PitchLight;
    /*font-weight: lighter;*/
    src: url("../assets/fonts/Pitch-Light.otf");
}
* {
    font-family: Pitch;
    font-weight: normal;
}
.h1 {
    line-height: 1em;
    //same as logo
    font-weight: 900;
    letter-spacing: .22em;
}
.body-copy {
    text-align: left;
    color:black;
}
.right-float{
    float:right;
}
.logo-text {
    font-family: Pitch;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: .23em;
    //ALWAYS has a box around it !!
    padding: .53em .62em .57em .8em;
    border-style: solid;
    border-width: .08em;
}
.logo-text {
    font-family: Pitch;
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: .23em;
    //ALWAYS has a box around it !!
    padding: .53em .62em .57em .8em;
    border-style: solid;
    border-width: .08em;
    transform: scale(.7);
}
@mixin letter-menu-text() {
    font-family: Pitch;
    font-size: 1.5em;
    line-height: 1.2em;
    letter-spacing: .23em;
    //ALWAYS has a box around it !!
    padding: .53em .62em .57em .8em;
    border-style: solid;
    border-width: .08em;
}
.logo-text-mobile {
    font-family: Pitch;
    font-size: 5em;
    line-height: 1.2em;
    letter-spacing: .23em;
    //ALWAYS has a box around it !!
    padding: .53em .62em .57em .8em;
    border-style: solid;
    border-width: .08em;
}
@mixin menu-text() {
    font-family: Pitch;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: .23em;
    //ALWAYS has a box around it !!
    padding: .2em .5em .2em .5em;
    border-style: solid;
    border-width: 1em;
    text-transform: uppercase;
}
//colors to be added as classes
.blue {
    color: $blue;
    background: white;
}
.red {
    color: $blue;
    background: white;
}
