@font-face {
  font-family: Pitch;
  src: url("../assets/fonts/Pitch-Regular.otf");
}

@font-face {
  font-family: Pitch;
  font-weight: lighter;
  src: url("../assets/fonts/Pitch-Light.otf");
}

$green-rooms-blue: #034EC9;
$green-rooms-red: #EF4123;
* {
  font-family: Pitch;
  font-weight: lighter;
}

.h1 {
  line-height: 1em;
  font-weight: lighter;
}
.temp-style{
          
}

.menu-button {
    background: url('../assets/images/blue-ball-pattern.jpg') no-repeat;
}
.menu-bar{
    background: url('../assets/images/blue-ball-pattern.jpg') no-repeat;
}

.pattern-bg-1{
    background: url('../assets/images/pattern-1.svg');
}
.pattern-bg-2{
    background: url('../assets/images/pattern-2.svg');
}
.pattern-bg-3{
    background: url('../assets/images/pattern-3.svg');
}
.red-line{
    border-color:$green-rooms-red;
    color:$green-rooms-red;
    background:white;
}
.blue-line{
    border-color:$green-rooms-blue;
    color:$green-rooms-blue;
    background:white;
}
.black-line{
    border-color:black;
    color:black;
    background:white;
}
.red-bg{
    background: $green-rooms-red;
    border-color: white;
    color: white;
}
.blue-bg{
    background: $green-rooms-blue;
    border-color: white;
    color: white;
}
.black-bg{
    background:black;
    border-color: white;
    color: white;
}
